{# ceci est ma modale de suppresion de pokemon #}
<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Supprimer le pokemon</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <p>Voulez vous vraiment suprimer ce Pokemon ?</p>
      </div>
      <form id="modalForm" method="post" class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Non</button>
        <button type="submit" class="btn btn-primary">Oui</button>
      </form>
    </div>
  </div>
</div>
